@import url('../webfonts/rubik/300.css');
@import url('../webfonts/rubik/800.css');

:root {
  /* colors */
  --text: #f8f8f2;
  --link: #8be9fd;
  --link_visited: #8be9fd;
  --accent1: #f8f8f2;
  --accent2: #f8f8f2;
  --background: #0000ff;
  --code: #44475a;
  --button-text: #282a36;
  --blockquote: #44475a;
  --blockquote-border: #6272a4;
  --aside: #6272a4;
  --aside-border: #7797b7;
  --note: #3f444a;
  --note-border: #4f545a;
  --alert: #ff5555;
  --alert-border: #ff6e6e;
  --field: #44475a;
  --mark: #ffff99;
  --audio-link: #ff6e6e;

  /* font sizes */
  --base-font-size: 17px;
  --base-line-height: 1.58;
  --base-line-height-rem: 1.58rem;
}

/* HTML Elements */

body {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  
  max-width: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 var(--base-line-height-rem) 0;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.51572rem;
}
h3 {
  font-size: 1.31951rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.87055rem;
}
h6 {
  font-size: 0.81225rem;
}

p {
  margin-bottom: var(--base-line-height-rem);
}

b,
strong {
  font-weight: 800;
}

ul,
ol {
  margin: 0 0 var(--base-line-height-rem) var(--base-line-height-rem);
  padding: 0;
}

li {
  padding-left: 0;
  margin-bottom: calc(var(--base-line-height-rem) / 4);
  margin-bottom: 0;
}

/* website components */

.site-header {
  box-sizing: border-box;
  height: 70vh;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  .stamp {
    height: 110px;
    width: 110px;

    @media screen and (max-width: 896px) {
      width: 60px;
      height: 60px;
    }

    margin-right: 1rem;
    overflow: visible;

    * {
      stroke: white;
    }

    & circle + circle {
      stroke-width: 1rem;
    }
  }

  h1, h2 {
    font-weight: 300;
  }

  .title-home {
    & h1 {
      margin: 0 0 0 -5px;
      font-size: 5rem;

      @media screen and (max-width: 896px) {
        margin: 0 0 0 -3px;
        font-size: 2rem;
      }
    }

    & h2 {
      margin: -10px 0 0 0;
      white-space: nowrap;

      @media screen and (max-width: 896px) {
        margin: -5px 0 0 0;
        font-size: 1rem;
      }
    }
  }
}
