@import url('../webfonts/rubik/300.css');
@import url('../webfonts/rubik/800.css');

:root {
  --text: #f8f8f2;
  --link: #8be9fd;
  --link_visited: #8be9fd;
  --accent1: #f8f8f2;
  --accent2: #f8f8f2;
  --background: #0000ff;
  --code: #44475a;
  --button-text: #282a36;
  --blockquote: #44475a;
  --blockquote-border: #6272a4;
  --aside: #6272a4;
  --aside-border: #7797b7;
  --note: #3f444a;
  --note-border: #4f545a;
  --alert: #ff5555;
  --alert-border: #ff6e6e;
  --field: #44475a;
  --mark: #ffff99;
  --audio-link: #ff6e6e;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rubik, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

.site-header {
  box-sizing: border-box;
  height: 70vh;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  .stamp {
    height: 110px;
    margin-right: 1rem;
    overflow: visible;
    width: 110px;    
  }

  h1 {
    font-weight: 300;
  }
}
